<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="appHarborConnect" connectionString="Server=f9052a94-7978-4434-a6bf-a81f01733795.sqlserver.sequelizer.com;Database=dbf9052a9479784434a6bfa81f01733795;User ID=ohlovroogavvbfcd;Password=bcrvrBqT3LsF4cTUvzoAqLHgoRBQGy33AnosJ7EfaPMowbLnpeCK7MZxBkgG8HmC;" providerName="System.Data.SQLClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services> 
      <service name="AirMonit_Service.AirMonit_Service" behaviorConfiguration="AirMonitBehaviors"> 
        <endpoint address="" binding="basicHttpBinding" contract="AirMonit_Service.IAirMonit_StoreData"></endpoint> 
        <endpoint address="" binding="basicHttpBinding" contract="AirMonit_Service.IAirMonit_AccessingData"></endpoint> 
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="AirMonit_Service.IAirMonit_StoreData"></endpoint> 
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint> 
      </service> 
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AirMonitBehaviors">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors> 
        <behavior name="web"> 
          <webHttp automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" helpEnabled="true"/>
        </behavior> 
      </endpointBehaviors> 
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
