<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="appHarborConnect" connectionString="Server=f9052a94-7978-4434-a6bf-a81f01733795.sqlserver.sequelizer.com;Database=dbf9052a9479784434a6bfa81f01733795;User ID=ohlovroogavvbfcd;Password=bcrvrBqT3LsF4cTUvzoAqLHgoRBQGy33AnosJ7EfaPMowbLnpeCK7MZxBkgG8HmC;Trusted_Connection=Yes;" providerName="System.Data.SQLClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>