<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirMonit_DLog.Properties.Settings.AppHarborConnectionString"
            connectionString="Data Source=f9052a94-7978-4434-a6bf-a81f01733795.sqlserver.sequelizer.com;Persist Security Info=True;User ID=ohlovroogavvbfcd;Password=bcrvrBqT3LsF4cTUvzoAqLHgoRBQGy33AnosJ7EfaPMowbLnpeCK7MZxBkgG8HmC"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>