<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAirMonit_AccessingData" 
                    allowCookies="true"
                    maxReceivedMessageSize="20000000"
                    maxBufferSize="20000000"
                    maxBufferPoolSize="20000000"/>
                <binding name="BasicHttpBinding_IAirMonit_StoreData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://airmonit-8.apphb.com/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirMonit_AccessingData"
                contract="AitMonitService.IAirMonit_AccessingData" name="BasicHttpBinding_IAirMonit_AccessingData" />
            <endpoint address="http://airmonit-8.apphb.com/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirMonit_StoreData"
                contract="AitMonitService.IAirMonit_StoreData" name="BasicHttpBinding_IAirMonit_StoreData" />
        </client>
    </system.serviceModel>
</configuration>